<section class="activity-detail" *ngIf="activity && activityUser">
  <mat-card class="activity-detail__card">
    <mat-card-header>
      <i mat-card-avatar class="material-icons">face</i>
      <mat-card-title>{{activityUser.username}}</mat-card-title>
      <mat-card-subtitle>{{activityUser.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="activity-detail__form">
        <mat-form-field>
          <input matInput placeholder="Title" [(ngModel)]="activity.title" name="title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Body" [(ngModel)]="activity.body" name="body"
            matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="activity-detail__actions">
      <button mat-button (click)="saveClick()" [disabled]="!isActivityComplete()">Save</button>
    </mat-card-actions>
  </mat-card>
  <dm-activity-item [activity]="activity" [showViewMore]="false">
  </dm-activity-item>
</section>
