/* You can add global styles to this file, and also import other style files */
@import './scss/reset.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

ng-component {
  display: flex;
  padding: 20px 5%;
}

.dm-snackbar {
  color: white;
  background-color: #178417;
  &--error {
    background-color: #a72929;
  }
}